@model LaDoces2.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Item</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoCurta" class="control-label"></label>
                <input asp-for="DescricaoCurta" class="form-control" />
                <span asp-validation-for="DescricaoCurta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDetalhada" class="control-label"></label>
                <input asp-for="DescricaoDetalhada" class="form-control" />
                <span asp-validation-for="DescricaoDetalhada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ImagemAtual">Imagem Atual</label>
                <img src="@Model.ImagemUrl" alt="Imagem do Produto Atual" asp-append-version="true">
                <input type="hidden" name="ImagemUrl" value="@Model.ImagemUrl">
            </div>
            <div class="form-group">
                <label for="Imagem">Nova Imagem:</label>
                <input type="file" class="form-control" name="Imagem" id="Imagem">
            </div>
            <div class="form-group">
                <label for="ImagemAtualc">Imagem Atual curta</label>
                <img src="@Model.ImagemPequenaUrl" alt="Imagem do Produto Atual" asp-append-version="true">
                <input type="hidden" name="ImagemPequena" value="@Model.ImagemPequenaUrl">
            </div>
            <div class="form-group">
                <label for="Imagemcurta">Nova Imagem Curta:</label>
                <input type="file" class="form-control" name="Imagemcurta" id="Imagemcurta">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Destaque" /> @Html.DisplayNameFor(model => model.Destaque)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

