@model ReflectionIT.Mvc.Paging.PagingList<LaDoces2.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<form method="get" class="form-inline">
    <input name="filtro" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filtro"]" />
    <button type="submit" class="btn btn-info">Procurar</button>
</form>
Total de Itens : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Criar novo</a>
</p>

<

        <div class="list-group">
        @foreach (var item in Model)
        {

             <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    </div>
                    <div>
                        <p class="mb-1"> @Html.DisplayFor(modelItem => item.Categoria.CategoriaId).</p>
                    </div>
                    <small>@Html.DisplayFor(modelItem => item.DescricaoCurta)</small>
                    <p> <a href="@Html.DisplayFor(modelItem => item.ImagemUrl)"> <img src="@Html.DisplayFor(modelItem => item.ImagemPequenaUrl)" width="100px"></a></p>
                </div>
                 <div>Valor: @Html.DisplayFor(modelItem => item.Preco)<br>
                   Ativo: @Html.DisplayFor(modelItem => item.Ativo) Destaque @Html.DisplayFor(modelItem => item.Destaque)</div>
                    <small> @Html.DisplayFor(modelItem => item.DescricaoDetalhada) </small>    
                <div class="mt-3"><a asp-action="Edit" asp-route-id="@item.ItemId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Deletar</a></div>
            </div>
         
          
        }
  </div>
