@model ReflectionIT.Mvc.Paging.PagingList<LaDoces2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<form method="get" class="form-inline">
    <input name="filtro" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filtro"]" />
    <button type="submit" class="btn btn-info">Procurar</button>
</form>
Total de Itens : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table" style="min-height: 35vw;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
