@model IEnumerable<LaDoces2.Models.PedidoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Cep)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PedidoItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
